@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
    html {
        @apply transition-colors duration-300
    }

    body {
        @apply bg-text dark:bg-background text-background dark:text-text
    }
}

@theme {
    --font-playfair: "Playfair", serif;
    --font-poppins: "Poppins", sans-serif;
    --font-roboto: "Roboto", sans-serif;
}

@plugin "daisyui" {
    themes: false;
}